body{
	 background-image:url(https://marketplace.canva.com/EAD2962NKnQ/2/0/800w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-98aZLNQxJXg.jpg);
     background-size: cover;
	flex: 1;
}
#canvas
{
    border: 1px solid black;
	border-width: 3px;
    margin: 10px 0 10px 0;
    cursor: pointer;
	background-color: white;
}
#colors button
{
    width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 0px;
	margin-left: 15px;
}
#black 
{
    background: black;
}
#pink 
{
    background: pink;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
}
#orange 
{
    background: orange;
}
#purple
{
    background: purple;
}
#yellow 
{
    background: yellow;
}
#white
{
    background: white;
}
#gray
{
    background: gray;
}
#aqua
{
    background: aqua;
}
#brown
{
    background: brown;
}
#clear
{
	background-color:limegreen;
	align-items: center;
	justify-content: center;
	margin-left: 470px;
	height: 40px;
	width:80px;
	font-family: sans-serif;
	font-size: 16px;
}


body {
    margin:10px;
    padding:20px;
    height:100vh;
    display:flex;
	
   
	
    font-family:Monospace;
}

.loading{
    width:200px;
    height:200px;
    box-sizing:border-box;
    border-radius:50%;
    border-top: 10px solid #e74c3c;
    position:relative;
    animation:a1 2s linear infinite;
}

.loading::before, .loading::after{
    content:'';
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    top:-10px;
    box-sizing:border-box;
    border-radius:50%;
}

.loading::before{
    border-top:10px solid #e67e22;
    transform: rotate(120deg);
}

.loading::after{
    border-top:10px solid #3498db;
    transform:rotate(240deg);
}

.loading span{
    position:absolute;
    width:200px;
    height:200px;
    color:;
    line-height:200px;
    text-align:center;
    animation:a2 2s linear infinite;
}

@keyframes a1{
    to{
        transform:rotate(360deg);
    }
}
@keyframes a2{
    to{
        transform:rotate(-360deg);
    }
}
span{
    color:blue;
    
}


h1{
    color:Blue;
    font-family:Cursive;
}
